<div class="pull-right">
    <a class="btn btn-info btn-xs" ui-sref="homepage">
        Back
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
</div>
<h2>Edit Book </h2>
<div class="panel panel-default" ng-controller="bookController" ng-init="fetchBook()">
    <div class="panel-body">
        <form class="form-horizontal" ng-submit="editBook(book.id, book)">
            <div class="form-group">
                <label  class="col-sm-4 col-md-3 col-lg-3 control-label">Book Title</label>
                <div class="col-sm-8 col-md-6 col-lg-5">
                    <input type="text" class="form-control" id="title" ng-model="book.bookTitle">
                </div>
            </div>

            <div class="form-group">
                <label for="category" class="col-sm-4 col-md-3 col-lg-3 control-label">Category</label>
                <div class="col-sm-8 col-md-6 col-lg-5">
                    <input type="text" class="form-control" id="category" ng-model="book.category">
                </div>
            </div>

            <div class="form-group">
                <label for="author" class="col-sm-4 col-md-3 col-lg-3 control-label">Author</label>
                <div class="col-sm-8 col-md-6 col-lg-5">
                    <input type="text" class="form-control" id="author" ng-model="book.author">
                </div>
            </div>

            <div class="form-group">
                <label for="ISBN" class="col-sm-4 col-md-3 col-lg-3 control-label">ISBN</label>
                <div class="col-sm-8 col-md-6 col-lg-5">
                    <input type="text" class="form-control" id="isbn" ng-model="book.isbn">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-md-offset-3 col-lg-offset-3 col-sm-8 col-md-9 col-lg-9">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
